:root {
  /* color */
  --primary-clr: #adadad;
  --secondary-clr: #5f5f5f;
  --link-clr: #636363;
  --ctn-clr: #212121;
  --bg-clr: #000;
  --accent-clr: #43e07d;

  --ff-primary: "Helvetica Now Text", Helvetica;
  --ff-secondary: "Source Sans Pro", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
}
/* 
*******
Hide Scrollbars
*******
*/
body::-webkit-scrollbar {
  width: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #000 #000;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #000;
}

/* 
******
Typography
******
 */

img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

/*
******
Home Page - Header
******
*/
.container {
  height: 100vh;
  background: var(--bg-clr);
  color: var(--primary-clr);
  position: relative;
  font-weight: 300;

  /* overflow: hidden; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 0 auto;
  min-height: 10vh;
  font-family: var(--ff-primary);
  font-size: 1.4rem;
}

.nav__links {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav__links li {
  color: var(--link-clr);
  transition: all 0.15s;
  padding-bottom: 0.25em;
  cursor: pointer;
  position: relative;
}
.nav__links li:hover {
  color: var(--primary-clr);
}

.nav__links li:hover::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  background: var(--primary-clr);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav__social {
  max-width: 10rem;
  margin-right: 4em;
  margin-left: auto;
}
.nav__social ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.ctn {
  color: var(--link-clr);
  border: 1px solid var(--link-clr);
  border-radius: 5px;
  padding: 0.4rem 1.2rem;
  transition: all 0.105s;
  cursor: pointer;
}

.ctn:hover {
  color: var(--primary-clr);
  border-color: var(--primary-clr);
}

/*
******
Home Page - Hero Section
******
*/
.section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-secondary);
  font-weight: 600;
}

.section-container {
  transform: translateY(-5vh);
}
.hero-section__title {
  font-size: 2rem;
  text-align: center;
}
.wrapper {
  height: 100%;
}
.text {
  height: 8.5rem;
  display: flex;
  gap: 10px;
  overflow: hidden;
  font-size: 4.2rem;
}

/*
*******
toggle class 
*******
*/
.animateWord {
  animation: animateWord 4s infinite;
  animation-delay: 1s;
}
.accent-text {
  font-weight: 100;
  color: var(--accent-clr);
}

.active-link {
  color: var(--primary-clr);
}

.active-link::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  background: var(--primary-clr);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*
******
We Plan Inside
******
*/
.we-section {
  height: 90vh;
  max-width: 140rem;
  margin: 0 auto;
  overflow: hidden;
  font-family: var(--ff-primary);
  padding: 2em 4em;
  /* flex utilities is used  */
  /* so i can use gap here also */
  gap: 6em;
}
.we-section__content {
  width: 100%;
}
.we-section__content .title {
  font-size: 5rem;
}

.we-section__content .description {
  font-size: 2rem;
}
.we-section__content .info {
  color: var(--secondary-clr);
  font-weight: 200;
}
.we-section__content .title {
  margin-top: 2rem;
}
.we-section__content .description {
  margin-top: 2.5em;
  height: 100%;
  max-width: 70rem;
  gap: 4.5rem 0;
}
.we-section__img {
  height: 100%;
  width: 70%;
  overflow: hidden;
  background-image: url("/wepandas-website/assets/images/panda-img.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: right 80%;
  border-radius: 2rem;
}

/* 
******
Utilities Class
******
*/

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
